.wrap-text {
    overflow: visible;
    text-overflow: unset;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-all;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
    text-align: left;
}
tr:nth-child(even) {background-color: #d4cccc}