<ion-header [translucent]="true">
  <ion-toolbar color="danger" class="no-border">
    <ion-title>
      eOVC
    </ion-title>
  </ion-toolbar>
</ion-header> 
  <ion-content [fullscreen]="true">
    <table mat-table style="width:100%; border: 1px solid black;">
      <tr style="background-color: #eb445a;">
        <th></th><th></th><th></th>
      </tr>
      <tr>
        <td>
                <ion-card color="primary" (click)="gotoCSChecklist()">
                  <ion-card-header style="font-weight: bold; font-family:serif;">
                    CARE & SUPPORT
                  </ion-card-header>
                  <ion-card-content>
                    <ion-avatar>
                      <img src="../../assets/images/images/hospital.png">
                    </ion-avatar>             
                    CHECKLIST
                  </ion-card-content>
                </ion-card>
        </td>
        <td>
                <ion-card color="primary" (click)="gotoConsentForm()">
                  <ion-card-header style="font-weight: bold; font-family:serif;">
                    CONSENT FORM
                  </ion-card-header>
                  <ion-card-content>
                    <ion-avatar>
                      <img src="../../assets/images/images/community.png">
                    </ion-avatar>             
                    CF
                  </ion-card-content>
                </ion-card>
        </td>
      </tr>	
      <tr>
        <td>
                <ion-card color="primary" (click)="gotoVCServiceForm()">
                  <ion-card-header style="font-weight: bold; font-family:serif;">
                    VULNERABLE CHILDREN
                  </ion-card-header>
                  <ion-card-content>
                    <ion-avatar>
                      <img src="../../assets/images/images/home.png">
                    </ion-avatar>             
                    SERVICE FORM
                  </ion-card-content>
                </ion-card>
        </td>
        <td>
                <ion-card color="primary" (click)="gotoVHRF()">
                  <ion-card-header style="font-weight: bold; font-family:serif;">
                    VULNERABLE HOUSEHOLD
                  </ion-card-header>
                  <ion-card-content>
                    <ion-avatar>
                      <img src="../../assets/images/images/patient.png">
                    </ion-avatar>             
                    REFERRAL FORM
                  </ion-card-content>
                </ion-card>
        </td>
      </tr>	
      <tr>
        <td>
                <ion-card color="primary" (click)="gotoOVCStatusUpd()">
                  <ion-card-header style="font-weight: bold; font-family:serif;">
                    OVC STATUS 
                  </ion-card-header>
                  <ion-card-content>
                    <ion-avatar>
                      <img src="../../assets/images/images/home.png">
                    </ion-avatar>             
                    UPDATE FORM
                  </ion-card-content>
                </ion-card>
        </td>
        <td>
                <ion-card color="primary" (click)="gotoCBPAChecklist()">
                  <ion-card-header style="font-weight: bold; font-family:serif;">
                    COMMUNITY BASED PAEDIATRIC<br>
                    ADOLESCENT
                  </ion-card-header>
                  <ion-card-content>
                    <ion-avatar>
                      <img src="../../assets/images/images/patient.png">
                    </ion-avatar>             
                    CHECKLIST
                  </ion-card-content>
                </ion-card>
        </td>
      </tr>	
    </table>
</ion-content>
